[submodule "modules/link"]
	path = modules/link
	url = https://github.com/ableton/link.git
[submodule "modules/circle-stdlib"]
	path = modules/circle-stdlib
	url = https://codeberg.org/larchcone/circle-stdlib.git
